name: Build for Windows arm64

on:
  workflow_call:
    inputs:
      tag:
        description: "tag"
        required: false
        default: ""
        type: string
  workflow_dispatch:

jobs:
  build-windows-app:
    name: Release Windows arm64
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml

      - name: Add fastforge and Inno Setup
        run: |
          dart pub global activate fastforge
          choco install innosetup

      - name: Add Chinese language file for Inno Setup
        run: |
          Copy-Item "windows/packaging/exe/ChineseSimplified.isl" "C:\Program Files (x86)\Inno Setup 6\Languages\ChineseSimplified.isl"
        shell: pwsh

      - name: Set and Extract version
        shell: pwsh
        run: lib/scripts/build.ps1

      - name: Build Windows
        run: |
          # 修改点 1: 在 flutter-build-args 中添加了 --arch=arm64
          fastforge package --platform windows --targets exe --flutter-build-args="dart-define-from-file=pili_release.json --arch=arm64"

      - name: Prepare Upload
        run: |
          mkdir -p Release/PiliPlus-Win
          mkdir -p PiliPlus-Win-Setup
          # 修改点 2: 路径从 build/windows/x64 改为 build/windows/arm64
          mv build/windows/arm64/runner/Release/* Release/PiliPlus-Win/
          # 修改点 3: 输出文件名改为 arm64
          mv dist/**/*.exe PiliPlus-Win-Setup/PiliPlus_windows_${{env.version}}_arm64_setup.exe

      - name: Compress
        if: ${{ github.event.inputs.tag != '' }}
        run: |
          # 修改点 4: 压缩包名称改为 arm64
          Compress-Archive -Path "Release/PiliPlus-Win" -DestinationPath "PiliPlus_windows_${{env.version}}_arm64.zip"
        shell: pwsh

      - name: Release
        if: ${{ github.event.inputs.tag != '' }}
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag }}
          name: ${{ github.event.inputs.tag }}
          files: |
            PiliPlus_windows_*.zip
            PiliPlus-Win-Setup/PiliPlus_windows_*.exe

      - name: Upload windows file release
        uses: actions/upload-artifact@v5
        with:
          name: Windows-file-arm64-release
          path: Release

      - name: Upload windows setup release
        uses: actions/upload-artifact@v5
        with:
          name: Windows-setup-arm64-release
          path: PiliPlus-Win-Setup
